<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header d-flex align-items-center">
      <a class="navbar-brand" href="#">
        <img src="assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
      </a>
      <div class="ml-auto">
        <!-- Sidenav toggler -->
        <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
            <% if(session.roleId == 2){ %>
          <li class="nav-item">
            <a class="nav-link active" href="/dashboard">
              <i class="ni ni-shop text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <% }%>
          <li class="nav-item">
            <a class="nav-link" href="/monitoring">
              <i class="ni ni-square-pin text-primary"></i>
              <span class="nav-link-text">Monitoring</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cctv">
              <i class="ni ni-tablet-button text-primary"></i>
              <span class="nav-link-text">CCTV</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rt">
              <i class="ni ni-single-02 text-primary"></i>
              <span class="nav-link-text">RT</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rw">
              <i class="ni ni-single-02 text-primary"></i>
              <span class="nav-link-text">RW</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kelurahan">
              <i class="ni ni-single-02 text-primary"></i>
              <span class="nav-link-text">Kelurahan</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kecamatan">
              <i class="ni ni-single-02 text-primary"></i>
              <span class="nav-link-text">Kecamatan</span>
            </a>
          </li><li class="nav-item">
            <a class="nav-link" href="/kotakab">
              <i class="ni ni-single-02 text-primary"></i>
              <span class="nav-link-text">Kota Kab.</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>